/* global styles */
ul{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Inter", serif;
    background-color: #eee;
}
.bg-main{
    background-color: #7494ec;
}
.main-btn{
    background-color: #7494ec;
    color: #fff;
    padding: 7px 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: border 0.3s,  background-color 0.3s;
}
.main-btn:hover{
    border: 1px solid #7494ec;
    background-color: #fff;
    color: #7494ec;
}
header{
    padding-top: 68px;
}
header .card img{
    width: 100%;
    object-fit: cover;
}
header .card .stars span i{
    color: rgb(237, 237, 34);
}