/* variables */
:root{
    --primary-color: #7494ec;
    --secondary-color: #eee;
}
/* global styles */
ul{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    font-family: "Inter", serif;
    background-color: var(--secondary-color);
}
/* utilities */
.bg-main{
    background-color: var(--primary-color);
}
.main-btn{
    background-color: var(--primary-color);
    color: #fff;
    padding: 7px 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: border 0.3s,  background-color 0.3s;
}
.main-btn:hover{
    border: 1px solid var(--primary-color);
    background-color: #fff;
    color: var(--primary-color);
}
.cursor-pointer{
    cursor: pointer;
}
/* header style */
header{
    padding-top: 68px;
}
header .card img{
    width: 100%;
    object-fit: cover;
}
header .card .stars span i{
    color: rgb(237, 237, 34);
}